

.internal,.navbar-nav,.nav-item{
  background-color: var(--Dark-bg);
  

}
.hamburger{
background-color: var(--Dark-bg);
color: var(--HoverOnDarkText);
  
}
.navbar-toggler{
  border: 2px solid var(--HoverOnDarkText);
}


.navbar-collapse{
  margin:2px;
  background-color: var(--Dark-bg);
  
  margin-bottom: 2px;;
}
.navbar.navbar-expand-lg {
  padding: 0px;
  background-color: var(--Dark-bg);
 
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link{ 
color:var(--TextOnDark);
font-weight: 600;
background-color: var(--Dark-bg);
letter-spacing: 0.3px;
height: inherit;
margin: 2px;

transition: all 0.3s ease-in;
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover{
  color: var(--HoverOnDarkText);
  background-color: #19193D;
border-bottom:2px solid var(--HoverOnDarkText) ;
}
.active{ 
 background-color: #19193D;
 color: var(--HoverOnDarkText);
 border-bottom:2px solid var(--HoverOnDarkText);
  }





