
.dropdown-menu{
  padding: 10px;
  background-color: inherit;
  max-width: 450px;;
  border-radius: 10px;
  border: 0.5ps solid grey;
  
}
.navbar li{
  cursor: pointer;
}
.dropdown-menu ul{
list-style: none;
width: 100%;
padding: 0px;
}

.dropdown-menu.show{
  display: flex;

  justify-content: space-between;
  width: 500px;
  gap:18px;

}
.dropdown-menu ul li:first-child {
  font-weight: bold;
  text-wrap: nowrap; 
  text-decoration: underline;
  ;
}
.dropdown-menu ul li a{
  font-size: 12px;;
  text-decoration: none;
  color: inherit;
  margin:3px;
  text-align: center;
  transition: all 0.3s ease;
}
.dropdown-menu ul li a:hover{
color: var(--primary);
font-weight: bold;
}
.Nested-list li{
  font-weight: 0px;
  text-wrap: nowrap; 
  
  text-shadow:0  ;
}
@media screen and (max-width:920px) {
  .dropdown-menu.show{
    display: flex;
    width: 350px;
    gap:15px;
    flex-direction: column;
    justify-content: space-between;
    max-height: 200px;
    height: auto;
    overflow-y:auto ;
    gap:18px;
    }
}