:root{
    --primary:#0D4469 ;
    --Secondary:#f7f7f7;
    --accent:#00BBB9;

  
  }
  *{
    padding: 0px;
    margin:0px;
    font-family: 'Raleway';
    background-color: var(--text-color);
         
  }
