:root{
    --primary:#009fe3;
    --secondary:#708090;
    --action:#ffc107;
    --text-color:#F7F7F7;
    --Dark-bg:#000028;
    --TextOnDark:#FFF;
    --HoverOnDarkText:#00cccc;
  
  }
  *{
    padding: 0px;
    margin:0px;
    font-family: 'Raleway';
    background-color: var(--text-color);
         
  }
